
/* conteneder del grid de los libros*/

.listing {
	padding-bottom: 5px;
	list-style: none;
  	margin: 0.2em;
  	display: grid;
  	gap: 10px;
  	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.listing li {
	background:#fdfefe;
	border: 1px solid #0066FF;
  	border-radius: 5px;
  	display: flex;
  	flex-direction: column;
  	padding: 5px;
  	
}
.listing li div{
	overflow: hidden;
	width: 100%;
}
.listing li img{
	object-fit: cover;
}

.zoom {
    transition: transform .2s; 
}
 
.zoom:hover {
    transform: scale(1.1); 
}


#btnAddCarrito button{
	padding: 6px 4px;
}
.listing .cta {
	margin-top: auto;
  	padding: 2px;
  	text-align: center;
}
.listing .body {
	padding: 2px;
}

.justificarContnido{
	display: flex;
	justify-content: center;
	align-items: center;
}
