/*
Estilos de footer 
*/

#foo-header{
	width: 100%;
	height: auto;
	border-color: #ecf0f1;
	background-color: rgb(251, 236, 236);
}

#foo-header p{
	font-size: 14px;
}

#foo-medio{
	width: 100%;
	height: auto;
	background-color: #344c74;
}
div + p{
	margin-top: 5px auto;
}


/* footer redes sociales */
#foo-footer{
	width: 100%;
	background-color: rgb(251, 236, 236);
	justify-content: space-around;
	height: 200px;
}

.divisor{
	width: 90%;
	height: 1px;
	margin: auto;
	background-color: white;
	padding: 2px auto;
}
#foo-footer div p{
	text-align: center;
	text-decoration: none;
	color: #344c74;
}
#foo-footer div p a{
	color: #344c74;
}
#foo-footer section{
	width: 100%;
	padding: 20px 0;
	color: rgb(251, 236, 236);
}

.sociales {
  display: flex;
  justify-content: center;
  align-items: center;

}
.buttons {
  display: flex;
  justify-content: center;
}

.buttons i {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons i:hover {
  transform: scale(1.2);
}
.foo_small{
	padding: 20px 0;
}