/*
Estilos de footer 
*/

#foo-header{
	width: 100%;
	height: auto;
	border-color: #ecf0f1;
	background-color: whitesmoke;
	
}

#foo-medio{
	width: 100%;
	height: auto;
	background-color: #999999;
}
div + p{
	margin-top: 5px auto;
}



#foo-footer{
	/*text-align: center;*/
	width: 100%;
	height: auto;
	background-color: #454545;

}
#foo-footer a{
	text-align: center;
	text-decoration: none;
	color: white;
}


