
/*
  reseteamos todos los stilos del documento
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}


#contenedor{
	box-sizing: border-box;
}
#head-nav{
	width: 100%;
	height: 50px;
	position: fixed;
	top: 1px;
}

#main{
	padding-top: 60px;
	width: 100%;
	height: 1200px;/* definir auto */
	background-color: red;
	
}

