

/* slider 2 */
.slider-frame {
	padding-top: 30px;
	padding-bottom: 50px;
	width: 50%;
    height: auto;
	align-items: center;
	margin:5px auto 5px;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 20s infinite alternate ease-in-out;
	animation: slide 20s i
}

.slider-frame li {
	width: 100%;
	list-style: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	background-color: rgb(251, 236, 236);
	font-size: small;
	text-align: center;
}

.slider-frame img {
	width: 100%;
	max-height: max-content;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}